html {
  font-size: 62.5%;
}

body {
  font-family: 'Yu Gothic UI', sans-serif;
  font-size: 1.6rem;
  background: #f8fafc;
  letter-spacing: 0.1em;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

a {
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  padding: 2px;
  text-decoration: none;
  color: #fff;
  background: #00B0F0;
  text-align: center;
  border-radius: 3px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.container h2 {
  margin: 40px;
  text-align: center;
}

.table-white {
  background: #fff;
}

.btn {
  width: 100px;
  height: 35px;
  padding: 2px;
  color: #fff;
  background: #00B0F0;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.validate {
  color: red;
  padding-left: 10px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5%;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px #ebe5e4;
          box-shadow: 0 5px 10px #ebe5e4;
}

header nav {
  text-align: right;
}

header nav a {
  margin-left: 10px;
}

.top-wrapper a {
  display: block;
  margin: 0 auto 10px;
  font-size: 1.8rem;
  width: 300px;
  height: 40px;
  line-height: 40px;
}

.select-term {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 20px;
}

.select-term .register-link {
  display: block;
}

.select-term button {
  width: 50px;
  background: #fff;
  border-radius: 3px;
}

.list-wrapper {
  margin: 0 auto;
}

.list-wrapper table th, .list-wrapper table td {
  width: 130px;
  height: 30px;
  font-weight: normal;
  border: solid 0.5px #dee2e6;
  padding: 2px;
  text-align: right;
}

.list-wrapper table button {
  width: 50px;
  background: #fff;
  border-radius: 3px;
}

.list-wrapper .table-title {
  color: #fff;
  background: #343a40;
}

.list-wrapper .table-title th {
  text-align: center;
}

.list-wrapper tfoot tr:last-child th {
  border-bottom: none;
}

.register-form > div,
.fix-form > div,
.update-form > div {
  width: 400px;
  margin: 0 auto;
}

.register-form > div table,
.fix-form > div table,
.update-form > div table {
  padding: 5px;
}

.register-form > div table td,
.fix-form > div table td,
.update-form > div table td {
  padding: 5px;
}

.register-form > div table input,
.fix-form > div table input,
.update-form > div table input {
  height: 30px;
}

.register-form > div .btn,
.fix-form > div .btn,
.update-form > div .btn {
  margin-left: 75px;
}

.fix-form .btn {
  width: 60px;
}

.fix-form .btn:last-child {
  margin-left: 15px;
}

.user-register-link {
  margin-bottom: 20px;
  text-align: right;
}

.update-form .btn {
  width: 60px;
}

.update-form .btn:last-child {
  margin-left: 120px;
}
