// common
html {
  font-size: 62.5%;
}

body {
  font-family: 'Yu Gothic UI', sans-serif;
  font-size: 1.6rem;
  background: #f8fafc;
  letter-spacing: 0.1em;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}



a {
  display: inline-block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  padding: 2px;
  text-decoration: none;
  color: #fff;
  background: #00B0F0;
  text-align: center;
  border-radius: 3px;
}

.container {
  width: 800px;
  margin: 0 auto;

  h2 {
    margin: 40px;
    text-align: center;
  }
}

.table-white {
  background: #fff;
}

.btn {
  width: 100px;
  height: 35px;
  padding: 2px;
  color: #fff;
  background: #00B0F0;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.validate {
  color: red;
  padding-left: 10px;
}

// header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background: #fff;
  box-shadow: 0 5px 10px #ebe5e4;

  nav {
    text-align: right;

    a {
      margin-left: 10px;
    }
  }
}

// top page
.top-wrapper {
  a {
    display: block;
    margin: 0 auto 10px;
    font-size: 1.8rem;
    width: 300px;
    height: 40px;
    line-height: 40px;
  }
}

// list
.select-term {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;

  .register-link {
    display: block;
  }

  button {
    width: 50px;
    background: #fff;
    border-radius: 3px;
  }
}

.list-wrapper {
  margin: 0 auto;

  table {

    th, td {
      width: 130px;
      height: 30px;
      font-weight: normal;
      border: solid 0.5px #dee2e6;
      padding: 2px;
      text-align: right;
    }

    button {
      width: 50px;
      background: #fff;
      border-radius: 3px;
    }
  }

  .table-title {
    color: #fff;
    background: #343a40;

    th {
      text-align: center;
    }
  }

  tfoot {
    tr:last-child th {
      border-bottom: none;
    }
  }
}

// register, fix
.register-form,
.fix-form,
.update-form {
  &>div {
    width: 400px;
    margin: 0 auto;

    table {
      padding: 5px;

      td {
        padding: 5px;
      }

      input {
        height: 30px;
      }
    }

    .btn {
      margin-left: 75px;
    }
  }
}

// fix
.fix-form {
  .btn {
    width: 60px;

    &:last-child {
      margin-left: 15px;
    }
  }
}

// user index
.user-register-link {
  margin-bottom: 20px;
  text-align: right;
}

// update
.update-form {
  .btn {
    width: 60px;

    &:last-child {
      margin-left: 120px;
    }
  }
}

// login
.login-form {
  width: 400px;
  margin: 0 auto;

  div {
    text-align: center;
    margin-bottom: 20px;
    label {
      display: inline-block;
      width: 100px;
    }

    input {
      height: 30px;
    }
  }

  .btn {
    display: block;
    margin: 0 auto;
  }
}
